// .spread-enter {
//   min-height: 61px;
// }
// .spread-enter-active {
//   min-height: 100vh;
//   transition: opacity 200ms;
// }
// .spread-exit {
//   min-height: 100vh;
// }
// .spread-exit-active {
//   min-height: 61px;
//   transition: min-height 200ms;
// }

.locations {
  overflow: hidden;
  transition: all .3s;
  &.spread {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
  }
  .location-item {
    background-size: cover;
    background-position: center;
    padding: 15px;
    overflow: hidden;
    transition: min-height .3s;
    box-sizing: border-box;
    &.item-spread {
    }
    .overview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
      cursor: pointer;
      * {
        display: block;
        text-shadow: 0 0 5px rgba(0, 0, 8px, .3);
      }
      .flex-left {
        .location-name {
          font-size: 24px;
        }
      }
      .temperature {
        font-size: 42px;
      }
    }
  }
}
