.metronome {
  background-color: #444;
  width: 100%;
  height: 100%;
  max-height: 630px;
  max-width: 404px;
  padding-bottom: 30px;
  touch-action: manipulation;
  *:not(input) {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .metronome-head {
    padding: 15px 10px;
    background-color: #222;
  }
  .metronome-body {
    padding: 10px;
    border-top: 1px solid #777;
    text-align: center;
    .adjusting-tools,
    .other-tools {
      display: flex;
    }
    .adjusting-tools {
      justify-content: space-between;
      margin-bottom: 30px;
      .adjusting-tool {
        flex: 1;
      }
    }
    .other-tools {
      justify-content: center;
    }
  }
  @media (max-width: 575px) {
    height: 100%;
  }
}
