.voice-switch {
  margin-right: 65px;
  position: relative;
  label {
    display: inline-block;
    padding-bottom: 40px;
    color: #aaa;
  }
  .arrows {
    display: flex;
    justify-content: space-between;
    width: 110px;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    svg {
      height: 20px;
      color: #333;
    }
  }
  .switch-group {
    border: 5px solid #44feff;
    border-radius: 50%;
    width: 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    position: relative;
    .graduate {
      position: absolute;
      cursor: pointer;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
      }
      .grade-bar {
        height: 3px;
        width: 10px;
        background-color: #aaa;
        margin-right: 2px;
      }
      .active-light {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #73feff;
        box-shadow: 0 0 5px #44feff;
        opacity: 0;
        transition: all 0.3s;
      }
      &.active {
        .active-light {
          opacity: 1;
        }
      }
      &.graduate1 {
        transform: translateY(50%);
      }
      &.graduate1,
      &.graduate5 {
        bottom: 50%;
      }
      &.graduate2,
      &.graduate4 {
        bottom: 1px;
      }
      &.graduate1 {
        left: -19px;
      }
      &.graduate2 {
        left: calc(25% - 13px);
        transform: translate(-50%, 50%) rotateZ(-45deg);
      }
      &.graduate3 {
        transform: translate(-50%, 50%) rotateZ(-90deg);
        bottom: -11px;
        left: 50%;
      }
      &.graduate4 {
        right: calc(25% - 13px);
        transform: translate(50%, 50%) rotateZ(-135deg);
      }
      &.graduate5 {
        right: -19px;
        transform: translateY(50%) rotateZ(-180deg);
      }
    }
    .switch {
      border: 5px solid #000;
      box-shadow: 0 0 5px #000;
      width: 70px;
      border-radius: 50%;
      position: relative;
      .bright {
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: -1px -1px 5px white;
        background-color: white;
      }
      .button-wrap {
        position: relative;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        &:after,
        .white,
        .pointer {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &:after {
          content: '';
          background-color: #aaa;
          position: absolute;
          left: 2px;
          top: 2px;
          z-index: 1;
          pointer-events: none;
        }
        .white {
          background-color: white;
          position: relative;
        }
        .pointer {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
          transition: all 0.3s ease-in-out;
          &:after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: #333;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
