@import '../custom_animation.scss';
.alert-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all .3s;
  &.show {
    opacity: 1;
  }
  .background {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
  }
  .modal-block {
    border-radius: 5px;
    padding: 10px 0 20px;
    width: 80%;
    max-width: 500px;
    background-color: #2d2d2d;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #888;
      svg {
        height: 16px;
      }
    }
    .yes {
      background-color: #fe9e0c;
      color: #fff;
      font-size: 16px;
      border-radius: 99em;
      padding: 5px 40px;
      transition: all .3s;
      &:hover {
        color: #724500;
        background-color: #ffe6c0;
      }
    }
  }
}