@import '../custom_animation.scss';
.alert-modal, .ring-alert-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all .3s;
}

.alert-modal {
  &.show {
    opacity: 1;
  }
  &.hide {
    animation: fadeOut 0.3s;
  }
  .background {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
  }
  .modal-block {
    border-radius: 5px;
    border: 2px solid #222;
    border: 1px solid #2c3745;
    padding: 10px 0 30px;
    width: 80%;
    max-width: 500px;
    background-color: rgba(29, 37, 47 ,.75);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #394d5c;
      transition: all .3s;
      svg {
        font-size: 18px;
        height: 18px;
      }
      &:hover {
        color: #506e85;
      }
    }
    .message {
      font-size: 22px;
    }
    .yes {
      background-color: #fe9e0c;
      color: #fff;
      font-size: 20px;
      border-radius: 100em;
      padding: 5px 40px;
      transition: all .3s;
      &:hover {
        color: #724500;
        background-color: #ffe6c0;
      }
    }
  }
}

.ring-alert-modal {
  background-color: rgba(22, 29, 35, 0.7);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    .modal-content {
      p {
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 1;
      }
    }
    button {
      border-radius: 100em;
      color: #fff;
      transition: all .3s;
    }
    .yes {
      background-color: #fe9e0c;
      font-size: 22px;
      padding: 5px 40px;
      &:hover {
        color: #724500;
        background-color: #ffe6c0;
      }
    }
    .reset {
      background-color: rgba(255, 255, 255, .5);
      margin-top: 40px;
      font-size: 13px;
      padding: 5px 20px;
      &:hover {
        color: #333;
        background-color: rgba(255, 255, 255, .8);
      }
    }
  }
}