.view-times {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 340px;
  background: rgba(0, 0, 0, .7);
  .circle {
    width: 90%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    .time {
      font-size: 35px;
      width: 100%;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-90deg);
    }
  }
}
