.view-times {
  position: relative;
  .circle {
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    align-items: center;
    .time {
      font-size: 45px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    svg {
      transform: rotate(-90deg);
    }
  }
}
