@import '../custom_animation.scss';

.view-times {
  position: relative;
  .circle {
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    align-items: center;
    .counting {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .label {
        color: #0e9457;
        font-size: 18px;
        transition: color .3s;
        &.startCounting {
          color: #888;
          animation: fadeInfinite 2.5s infinite ease-in-out;
        }
        svg {
          font-size: 13px;
          height: 13px;
          margin-right: 5px;
        }
      }
      .time {
        font-size: 45px;
        transition: font-size .6s;
        &.font-big {
          font-size: 55px;
        }
      }
    }
    .circleSvg {
      transform: rotate(-90deg);
    }
  }
}
