@import '../color.scss';

.ring-tone-select-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  .background-close {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
  }
  .modal-block {
    z-index: 1;
    background: #222;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    min-width: 300px;
    padding: 20px 10px;
    .modal-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid #424242;
      button {
        color: $iphone-orange;
        font-size: 15px;
        transition: all .3s;
        &:hover {
          color: #f7b070;
        }
      }
    }
    .modal-content {
      text-align: left;
      margin-top: 10px;
      .ring-tones {
        max-height: 400px;
        overflow: scroll;
        border-radius: 7px;
        padding: 0 15px 15px 0;
        .item {
          position: relative;
          cursor: pointer;
          svg {
            font-size: 15px;
            height: 15px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $check-green;
          }
          span {
            display: block;
            margin-left: 40px;
            padding: 10px;
            transition: all .3s;
            border-bottom: 1px solid #333;
            &:hover {
              border-radius: 5px;
              border: none;
              background: #111;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: calc(100vh - 50px);
  }
}
