
.time_setting_tools {
  .title {
    font-size: 80px;
    margin: 0 0 30px;
    color: #8d8d92;
  }
  .flex.tools {
    margin-top: 20px;
    justify-content: center;
    div.select-group {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
