#index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  #counter {
    .show_total_seconds {
      position: fixed;
      top: 0;
      right: 0;
      padding: 20px 0;
    }
    .title {
      font-size: 80px;
      margin: 0 0 30px;
      color: #8d8d92;
    }
    .content {
      .total_seconds {
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
      }
      p {
        margin: 0;
      }
      .time {
        font-size: 60px;
        margin: 40px 0;
      }
      .buttons {
        margin-top: 50px;
        button {
          font-size: 20px;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          position: relative;
          border: none;
          transition: all .3s;
          &:first-child {
            margin-right: 30px;
          }
          &:hover {
            transform: scale(1.05);
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid #000;
          }
        }
        .start {
          background-color: rgba(34, 138, 84, .4);
          color: #1dcc71;
          &:hover {
            background-color: rgba(34, 138, 84, .6);
          }
        }
        .pause {
          background-color: rgba(205, 120, 31, .4);
          color: #c9772e;
          &:hover {
            background-color: rgba(205, 120, 31, .6);
          }
        }
        .cancel {
          background-color: rgba(105, 105, 105, .5);
          color: #fff;
          &:hover {
            background-color: rgba(105, 105, 105, .7);
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    #counter {
      .title {
        font-size: 50px;
        margin: 0 0 20px;
      }
    }
  }
}